<%- include('../templates/head', {tituloWeb: '- Tienda' }) %>

    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="section-title align-left" style="padding:0;">
                        <span class=" wow fadeInDown" data-wow-delay=".2s">Tienda</span>
                        <h2 class="wow fadeInUp text-wrap" data-wow-delay=".4s">Cursos
                            Disponibles
                        </h2>
                    </div>
                </div>
            </div>
            
            <!-- Herramientas de trabajo -->
            <h2 class="wow fadeInUp text-center" data-wow-delay=".2s">Herramientas de trabajo</h2>

            <div class="single-head">
                <div class="row">
                    <% if (cursos) { %>
                        <% cursos.forEach(curso=> { %>
                            <% if(curso.category === "ofimatica"){ %> 
                                <div class="col-lg-3 col-md-6 col-12 mb-5">
                                    <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                                        <h5 class="text-center"><%= curso.name %></h5>
                                        <input type="hidden" class="text-center" value="<%= curso.category %>"></input>
                                        <input type="hidden" class="text-center" value="<%= curso.description %>"></input>
                                        <div class="col text-center">
                                            <a href="/tienda/<%= curso.name %> ">
                                                <img src="/images/products/<%= curso.logo %>" alt="#" height="200px"
                                                    width="200px">
                                            </a>
                                        </div>
                                        <p class="text-center"><%= curso.price %></p>
                                        <br>
                                        <div class="button text-center">
                                            <a class="btn btn-add" data-product="<%= JSON.stringify(curso) %>"  onclick="M.toast({html: '<%= curso.name %> a単adido'})">A単adir a carrito</a>
                                        </div>
                                    </div>
                                </div>
                            <% } %> 
                        <% }) %>
                    <% } %>
                </div>
            </div>

            <hr>
            <!-- Redes sociales -->

            <h2 class="wow fadeInUp text-center" data-wow-delay=".2s">Redes Sociales</h2>
            
            <div class="single-head">
                <img class="service-patern wow fadeInLeft" data-wow-delay=".5s" src="/images/service/service-patern.png" alt="#">
                <div class="row">
                    <% if (cursos) { %>
                        <% cursos.forEach(curso=> { %>
                            <% if(curso.category === "redes sociales"){ %> 
                                <div class="col-lg-3 col-md-6 col-12 mb-5">
                                    <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                                        <h5 class="text-center"><%= curso.name %></h5>
                                        <input type="hidden" class="text-center" value="<%= curso.category %>"></input>
                                        <input type="hidden" class="text-center" value="<%= curso.description %>"></input>
                                        <div class="col text-center">
                                            <a href="/tienda/<%= curso.name %>">
                                                <img src="/images/products/<%= curso.logo %>" alt="#" height="200px"
                                                    width="200px">
                                            </a>
                                        </div>
                                        <p class="text-center"><%= curso.price %></p>
                                        <br>
                                        <div class="button text-center">
                                            <a class="btn btn-add" data-product="<%= JSON.stringify(curso) %>" onclick="M.toast({html: '<%= curso.name %> a単adido'})">A単adir a carrito</a>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }) %>
                    <% } %>
                </div>
            </div>
            
            <!-- Start cart -->
            <div aria-hidden="true" style="display: none;">
                <div class="col-lg-4 col-md-4">
                    <div id="items" class="wow fadeInDown" data-wow-delay=".4s">
                    </div>
                    <div id="toPay" class="wow fadeInDown" data-wow-delay=".4s"></div>
                </div>
            </div>
            <!-- End cart -->

        </div>
        
    </section>
    <!-- /End Services Area -->
    <script>
        var element = document.getElementById('tienda');
        element.classList.add('active');

        const btnAddToCart = document.querySelectorAll('.btn-add');
        let cart = [];
        
        for (let i = 0; i < btnAddToCart.length; i++) {
            btnAddToCart[i].addEventListener('click', () =>{
                const data = btnAddToCart[i].dataset.product;
                createLocalStorage(data);
            });
        }

        const createLocalStorage = data =>{
            
            cart.push(data);
            localStorage.setItem('cartx', cart);
        }


    </script>

    <%- include('../templates/footer') %>