<%- include('../templates/head', {tituloWeb: '- Tienda' }) %>

    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="section-title align-left" style="padding:0;">
                        <span class=" wow fadeInDown" data-wow-delay=".2s">Tienda</span>
                        <h2 class="wow fadeInUp text-wrap" data-wow-delay=".4s">Cursos
                            Disponibles
                        </h2>
                    </div>
                </div>
            </div>
            
            <!-- Herramientas de trabajo -->
            <h2 class="wow fadeInUp text-center" data-wow-delay=".2s">Herramientas de trabajo</h2>

            <div class="single-head">
                <div class="row">
                    <% if (cursos) { %>
                        <% cursos.forEach(curso=> { %>
                            <% if(curso.category === "ofimatica"){ %> 
                                <div class="col-lg-3 col-md-6 col-12 mb-5">
                                    <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                                        <h5 class="text-center"><%= curso.name %></h5>
                                        <input type="hidden" class="text-center" value="<%= curso.category %>"></input>
                                        <input type="hidden" class="text-center" value="<%= curso.description %>"></input>
                                        <div class="col text-center">
                                            <a href="/tienda/<%= curso.name %> ">
                                                <img src="/images/products/<%= curso.logo %>" alt="#" height="200px"
                                                    width="200px">
                                            </a>
                                        </div>
                                        <p class="text-center"><%= curso.price %></p>
                                        <br>
                                        <div class="button text-center">
                                            <a class="btn btn-add" data-product="<%= JSON.stringify(curso) %>"  onclick="M.toast({html: '<%= curso.name %> añadido'})">Añadir a carrito</a>
                                        </div>
                                    </div>
                                </div>
                            <% } %> 
                        <% }) %>
                    <% } %>
                </div>
            </div>

            <hr>
            <!-- Redes sociales -->

            <h2 class="wow fadeInUp text-center" data-wow-delay=".2s">Redes Sociales</h2>
            
            <div class="single-head">
                <img class="service-patern wow fadeInLeft" data-wow-delay=".5s" src="/images/service/service-patern.png" alt="#">
                <div class="row">
                    <% if (cursos) { %>
                        <% cursos.forEach(curso=> { %>
                            <% if(curso.category === "redes sociales"){ %> 
                                <div class="col-lg-3 col-md-6 col-12 mb-5">
                                    <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                                        <h5 class="text-center"><%= curso.name %></h5>
                                        <input type="hidden" class="text-center" value="<%= curso.category %>"></input>
                                        <input type="hidden" class="text-center" value="<%= curso.description %>"></input>
                                        <div class="col text-center">
                                            <a href="/tienda/<%= curso.name %>">
                                                <img src="/images/products/<%= curso.logo %>" alt="#" height="200px"
                                                    width="200px">
                                            </a>
                                        </div>
                                        <p class="text-center"><%= curso.price %></p>
                                        <br>
                                        <div class="button text-center">
                                            <a class="btn btn-add" data-product="<%= JSON.stringify(curso) %>" onclick="M.toast({html: '<%= curso.name %> añadido'})">Añadir a carrito</a>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }) %>
                    <% } %>
                </div>
            </div>
            
            <!-- Start cart -->
            <div aria-hidden="true" style="display: none;">
                <div class="col-lg-4 col-md-4">
                    <div id="items" class="wow fadeInDown" data-wow-delay=".4s">
                    </div>
                    <div id="toPay" class="wow fadeInDown" data-wow-delay=".4s"></div>
                </div>
            </div>
            <!-- End cart -->

        </div>
        
    </section>
    <!-- /End Services Area -->
    <script>
        var element = document.getElementById('tienda');
        element.classList.add('active');

        const btnAddToCart = document.querySelectorAll('.btn-add');
        let cart = [];

        // si existe el cart, añadir los productos al carrito. Si no siempre que entre a la view se reiniciará el cart.
        document.addEventListener('DOMContentLoaded', () => {
            if(localStorage.getItem('cart')){
                cart = JSON.parse(localStorage.getItem('cart'));
            }
        });
        
        for (let i = 0; i < btnAddToCart.length; i++) {
            btnAddToCart[i].addEventListener('click', () => {
                const data = btnAddToCart[i].dataset.product; // se añade la variable data que tiene la info en stringify.
                addToLocalStorage(JSON.parse(data)); // se envia la data parseada.
            });
        }

        const addToLocalStorage = data => {

            if(localStorage.getItem('cart')){
                cartLS = JSON.parse(localStorage.getItem('cart')); // se obtiene el cart que está en el localStorage.

                for (let i = 0; i < cartLS.length; i++) {
                    if(cartLS[i].name === data.name){ // se valida si en el localStorage existe el nuevo producto.
                        return;
                    }
                }
            }
            
            cart.push(data); // si no existe pues se ingresa
            localStorage.setItem('cart', JSON.stringify(cart));
        }

    </script>

    <%- include('../templates/footer') %>