<%- include('../templates/head', {tituloWeb: '- Panel Control' }) %>

    <!-- Start User Profile Area -->
    <section class="about-us section">
        <div class="">
            <div class="row">
                
                <%- include('templates/aside') %>

                <div class="col-lg-9 col-md-8">
                    <div class="container mt-4">
                        <div class="about-left mt-4">
                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay=".4s">Cursos Disponibles</h2>
                                <p class="wow fadeInUp" data-wow-delay=".6s">Aquí se muestran todos los cursos que tiene
                                    la plataforma
                                </p>
                            </div>
                        </div>

                        <div class="services">
                            <div class="single-head">
                                <div class="single-head">
                                    <div class="row">
                                        <% for(var i=0; i < panelPrincipal.length; i++) { %>
                                        <div class="col-lg-3 col-md-6 col-12 mb-5">
                                            <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                                                <h3 class="text-center"><a><%= panelPrincipal[i].name %></a></h3>
                                                <div class="col text-center">
                                                    <a href="/tienda/<%= panelPrincipal[i].name %> "><img src="/images/products/<%= panelPrincipal[i].logo %>" alt="#" height="60px" width="60px"></a>
                                                </div>
                                            </div>
                                        </div>  
                                        <% } %>  
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
    </section>
    <!-- /End User Profile Area -->
    
    <%- include('../templates/footer') %>